In [3]:
li=[12, 35, 9, 56, 24]

li[0]

12

In [4]:
li[0],li[-1]=li[-1],li[0]

li

[24, 35, 9, 56, 12]

In [5]:
List = [23, 65, 19, 90]


List[1],List[3]=List[3],List[1]

List

[23, 90, 19, 65]

In [6]:
li=list(range(10))

In [7]:
li.append(2)
li.append(6)
li.append(8)
li.append(2)

In [8]:
li

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 2, 6, 8, 2]

In [9]:
li.pop(0)

0

In [10]:
li

[1, 2, 3, 4, 5, 6, 7, 8, 9, 2, 6, 8, 2]

In [11]:
li=set(li)

In [12]:
from functools import reduce

a=lambda a,b:a*b

reduce(a,li)

362880

In [13]:
li=[1,2,3]

for i in range(3):
    for j in range(3):
        for k in range(3):
            if i!=j and j!=k and i!=k:
                print(li[i], li[j], li[k])

1 2 3
1 3 2
2 1 3
2 3 1
3 1 2
3 2 1

In [1]:
1. Print the first 5 positive integers in ascending order with one number 
in each line

SyntaxError: invalid syntax (860328078.py, line 1)

In [2]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [ ]:
2. Print the following pattern
*
**
***
****
*****
There are no spaces between consecutive stars. There are no spaces 
at the end of each line.

In [6]:
for i in range(5):
        print((i+1)*"*")

*
**
***
****
*****

In [ ]:
Accept an integer as input and print its square as output.

In [8]:
a=int(input("enter the number: "))

b= a**2

print(b)

enter the number:  5

25

In [ ]:
Accept two integers as input and print their sum as output.

In [9]:
x=int(input("enter the number: "))
y=int(input("enter the number: "))

total=x+y
print(total)

enter the number:  10
enter the number:  20

30

In [ ]:
Accept two words as input and print the two words after adding a 
space between them

In [10]:
c=input("enter the word: ")
d=input("enter the word: ")
f=c+" "+d
print(f)

enter the word:  mohamed
enter the word:  shahabas

mohamed shahabas

In [ ]:
Accept the registration number of a vehicle as input and print its 
state-code as output.

In [11]:
g=input("enter the word: ")


print(g[0:2])

enter the word:  KL 55 V 4321

KL

In [ ]:
Accept a five-digit number as input and print the sum of its digits as 
output.

In [14]:
x=input("enter the number: ")
sum=0
for i in x:
    sum=sum+int(i)
print(sum)

enter the number:  12345

15

In [ ]:
Accept five words as input and print the sentence formed by these 
words after adding a space between consecutive words and a full stop 
at the end.

In [15]:
a=input("enter the word: ")
b=input("enter the word: ")
c=input("enter the word: ")
d=input("enter the word: ")
e=input("enter the word: ")

print(a+" "+b+" "+c+" "+d+" "+e+".")

enter the word:  My
enter the word:  name
enter the word:  is
enter the word:  Mohamed
enter the word:  Shahabas

My name is Mohamed Shahabas.

In [ ]:
9.Accept the date in DD-MM-YYYY format as input and print the 
year as output.

In [25]:
date=input("Enter the date :")

print(date[-4:])

Enter the date : 19-11-2022

2022

In [ ]:
10.Accept a sequence of five single digit numbers separated by commas 
as input. Print the product of all five numbers.

In [27]:
number=input("enter the number: ")
mult=1
for i in number:
    if i.isdigit()==True:
        mult=mult*int(i)
print(mult)

enter the number:  1,2,3,4,5

120

In [ ]:
11. Accept two positive integers x and y as input. Print the number of 
digits in xy

In [31]:
x=int(input("enter the number: "))
y=int(input("enter the number: "))

print(len(str(x**y)))

enter the number:  5
enter the number:  7

5

In [ ]:
Accept a string as input. If the input string is of odd length, then 
continue with it. If the input string is of even length, make the 
string of odd length as below:
• If the last character is a period (.), then remove it 
• If the last character is not a period, then add a period (.) to the 
end of the string
Call this string of odd length word. Select a substring made up of 
three consecutive characters from word such that there are an 
equal number of characters to the left and right of this substring. 
Print this substring as output. You can assume that all input 
strings will be in lower case and will have a length of at least four

In [6]:
a=input()
len(a)
if len(a)%2==0:
    if a[-1]==".":
        a=a[:len(a)-1]
    if a[-1]!=".":
        a=a+"."
n=int((len(a)-1)/2)
print(a[n-1:n+2])

 butterflys

erf

In [ ]:
13. Accept three positive integers as input and check if they form the 
sides of a right triangle. Print YES if they form one, and NO is they do 
not. The input will have three lines, with one integer on each line. 
The output should be a single line containing one of these two 
strings: YES or NO.

In [8]:
x=int(input())
y=int(input())
z=int(input())

if x**2+y**2==z**2 or y**2+z**2==x**2 or x**2+z**2==y**2:
    print("Yes")
else:
    print("No")

 3
 4
 5

Yes

In [ ]:
14. EvenOdd is a tech startup. Each employee at the startup is given an employee id which is a unique 
positive integer. On one warm Sunday evening, five employees of the company come together for a 
meeting and sit at a circular table:
The employees follow a strange convention. They will continue the meeting only if the following 
condition is satisfied.
The sum of the employee-ids of every pair of adjacent employees at the table must be an even 
number.
They are so lazy that they won’t move around to satisfy the above condition, If the current seating 
plan doesn’t satisfy the condition, the meeting will be cancelled. You are given the employee-id of all 
five employees. Your task is to decide if the meeting happened or not.
The input will be five lined, each containing an integer. The ith line will have the employee-id of Ei. 
The output will be a single line containing one of these two strings: YES or NO

In [11]:
e1=int(input())
e2=int(input())
e3=int(input())
e4=int(input())
e5=int(input())


if (e1+e2)%2==0 and (e2+e3)%2==0 and (e3+e4)==0 and (e4+e5)==0 and (e5+e1)==0:
    print("yes")
else:
    print("no")

 23
 34
 45
 65
 12

no

In [ ]:
21.Accept a phone number as input. A valid phone number should satisfy 
the following constraints.
(1) The number should start with one of these digits: 6, 7, 8, 9
(2) The number should be exactly 10 digits long.
(3) No digit should appear more than 7 times in the number.
(4) No digit should appear more than 5 times in a row in the 
number.
If the fourth condition is not very clear, then consider this example: 
the number 9888888765 is invalid because the digit 8 appears more 
than 5 times in a row. Print the string valid if the phone number is 
valid. If not, print the string invalid.

In [8]:
phone_number=input()
flag=False

for i in phone_number:
    if phone_number.isdigit() and len(phone_number)==10 and int(phone_number[0])>6:
        if phone_number.count(i)>8 or i*6 in phone_number:
            flag=True
            
            print("Invalid Number")
        else:
            print("valid")
    else:
        print("invalid NUmber")
   

    print(" ")

 9888888881

valid

Invalid Number

Invalid Number

Invalid Number

Invalid Number

Invalid Number

Invalid Number

Invalid Number

Invalid Number

valid

In [ ]:
Accept a string as input and print the vowels present in the string in 
alphabetical order. If the string doesn’t contain any vowels, then 
print the string none as output. Each vowel that appears in the input 
string – irrespective of its case should appear just once in lower case 
in the output

In [2]:
string=input()

vowels=['a','e','i','o','u']

lis=list()
string=string.lower()
checked = 0
for i in string:
    for j in vowels:
        if i==j: 
            lis.append(i)
            checked += 1
    if checked==0: 
        print("None")
            
b=set(lis)
b=list(b)
b=sorted(b)
print(b)

 shahabasui

None
None
['a', 'i', 'u']

In [ ]:
16.You are given the date of birth of two persons, not necessarily from 
the same family. Your task is to find the younger of the two. If both 
of them share the same date of birth, then the younger of the two is 
assumed to be that person whose name comes first in alphabetical 
order.
The input will have four lines. The first two lines correspond to the 
first person, while the last two lines correspond to the second 
person. For each person, the first line corresponds to the name and 
the second line corresponds to the date of birth in “DD-MM-YYYY” 
format. Your output should be the name of the younger of the two.

In [14]:
person1=input()
p1_dob=input()
person2=input()
p2_dob=input()

if p1_dob==p2_dob:
    if person1>person2:
        print(f"{person2} is younger")
    else:
        print(f"{person1} is younger")
if int(p1_dob[-4:])>int(p2_dob[-4:]):
    print(f"{person1} is younger")
else:
    print(f"{person2} is younger")
if int(p1_dob[-4:])==int(p2_dob[-4:]):
    if int(p1_dob[3:5])>int(p2_dob[3:5]):
        print(f"{person1} is younger")
    else:
        print(f"{person2} is younger")
if (int(p1_dob[-4:]) == int(p2_dob[-4:])) and (int(p1_dob[3:5]) and int(p2_dob[3:5])):
    if int(p1_dob[:2])>int(p2_dob[:2]):
        print(f"{person1} is younger")
    else:
        print(f"{person2} is younger")

 shahabas
 18-01-1994
 ruksana
 19-08-1994

ruksana is younger
ruksana is younger
ruksana is younger

In [ ]:
17.Accept a string as input. Your task is to determine if the input string is a valid password or not. For a 
string to be a valid password, it must satisfy all the conditions given below:
(1) It should have at least 8 and at most 32 characters
(2) It should start with an uppercase or lowercase letter
(3) It should not have any of these characters: / \ = ' "
(4) It should not have spaces
It could have any character that is not mentioned in the list of characters to be avoided (points 3 and 
4). Output True if the string forms a valid password and False otherwise

In [40]:
password= input("Enter the string: ")
s="/\= '\""
flag=False
if len(password)>7 or len(password)<33:
    if password[0].isupper() or password.islower():
        for i in password:
            for j in s:
                if i != j:
                    pass
                else:
                    flag=True
                    break
                    
if flag:
    print("false")
else:
    print("True")

Enter the string:  ziya"eel

false

In [ ]:
18. Accept a positive integer n as input and print the first n positive 
integers, one number on each line.

In [34]:
n=int(input())

for i in range(1,n+1):
    print(i)

 15

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

In [ ]:
20. Accept two strings as input and form a new string by removing all 
characters from the second string which are present in the first string. 
Print this new string as output. You can assume that all input strings 
will be in lower case.

In [3]:
first=input()
second=input()


for i in second:
    if i in first:
        second=second.replace(i,"")
print(second)

 shahabas
 ruksana

rukn

In [ ]:
19.Accept a positive integer n as input, where n is greater than 1. 
Print PRIME ifnis a prime number and NOTPRIME otherwise.

In [36]:
a=19
flag=False
for i in range(2,19):
    if a%i==0:
        flag=True
        break
if flag:
    print(f"divisor is {i},its not a prime")
else:
    print("its a prime")

its a prime

In [ ]:
22. In the first line of input, accept a sequence of space-separated words. In the second line of 
input, accept a single word. If this word is not present in the sequence, print NO. If this word 
is present in the sequence, then print YES and in the next line of the output, print the number 
of times the word appears in the sequence.

In [39]:
first_word=input()
second_word=input()



for i in first_word:
    if second_word in first_word:
        a=first_word.count(second_word)
        pass
    else:
        flag=True
        break





if flag:
    print("NO")
else:
    print("Yes")
    print(f"the count of sequence is {a}")

 shahabas this is shahabas
 shahabas

Yes
the count of sequence is 2

In [ ]:
23. Write a function named factorial that accepts an integer n as argument. It should return 
the factorial of n if n is a positive integer. It should return -1 if n is a negative integer, and it 
should return 1 if n is zero.

In [41]:
def factorial(n):
    if n==0 or n==1:
        return 1
    if n<0:
        return -1
    mult=1
    if n>1:
        for i in range(1,n+1):
            mult=mult*i
    return mult

In [47]:
factorial(7)

5040

In [ ]:
24. 
The range of a list of numbers is the difference between the maximum and minimum values in the list
Write a function named get_range that accepts a non-empty list of real numbers as argument. It 
should return the range of the list.
(1) Avoid using built-in function such as max and min.
(2) You do not have to accept input from the user or print output to the console. You just have to write 
the function definition.

In [3]:
def get_range(l):

    
    l=sorted(l)
    rang=l[-1]-l[0]
    return rang

In [4]:
get_range([1,3,10,15,7,22,20])

21

In [ ]:
25. Write a function named read_file that accepts a text file named filename as argument. Within 
the function, read the file and print each line of the file on a separate line in the console. You shouldn't 
print any extra characters at the end of a line. There shouldn't be an empty line between any two 
consecutive lines.
(1) filename is a string variable that holds the name of the file. For example, in the first test case, it 
is filename = 'public_1.txt'.
(2) You do not have to accept input from the console. You have to write the function definition and 
print the contents of the file within the function

In [ ]:
26. A simple algorithm has to be designed to find out whether a student 
belongs to the Data Science branch or not. The input will be a 
student's roll number, which is of the form BR18B0000. 
Here, BR represents the branch code, 18 represents the year of 
joining, B represents the education level and 0000 represents the 
specific identification given to the student of that batch. The branch 
code for Data Science is DS. Print True if the student belongs to 
Data Science branch and False otherwise.

In [ ]:
if len(roll_number)==9:
    if roll_number[0:2]=="DS":
        print("True")
    else:
        print("False")

In [ ]:
27.The police are trying to track a criminal based on the evidence 
available at a crime site. Their main clue is a vehicle's damaged 
number plate. Only the string TN07 is visible. The format of the 
registration number is AA00AA00, where the first two letters are 
alphabets, next two are numbers, next two are again alphabets 
followed by two numbers at the end. A number plate is picked from a 
database of registration numbers and is given to you as input. Your 
task is to determine if this could belong to the criminal or not. 
Print True if the number plate 
contains TN07 and False otherwise.

In [2]:
if "TN07" in "TN05AB7234":
    print("True")
else:
    print("False")

False

In [ ]:
28. You are given a string and two non-negative integers as input. The 
two integers specify the start and end indices of a substring in the 
given string. Create a new string by replicating the substring a 
minimum number of times so that the resulting string is longer than 
the input string. The input parameters are the string, start index of 
the substring and the end index of substring (endpoints inclusive) 
each on a different line.

In [23]:
string= input()
start=int(input())
end=int(input())




if len(string[start:end])<len(string):
    for i in range(len(string)):
        
        if len(string[start:end+1]*i)>len(string):
            print(string[start:end+1]*i)
            break
        else:
            continue
print(len(string[start:end+1]*i))

 ziya
 1
 2

iyiyiy
6

In [ ]:
29. A class teacher has decided to split her entire class into four groups, namely Sapphire, Peridot, Ruby, 
and Emerald for sports competitions. For dividing the students into these four groups, she has 
followed the pattern given below:
Sapphire - 1, 5, 9, 13, 17, 21, ...
Peridot - 2, 6, 10, 14, 18, 22, ...
Ruby - 3, 7, 11, 15, 19, 23, ...
Emerald - 4, 8, 12, 16, 20, 24, ...
All the students are represented by their roll numbers. Based on the above pattern, given the roll 
number as input, print the group the student belongs to. Note that the roll number can be any 
positive integer and not necessarily less than 25.

In [43]:
Sapphire =[i for i in range(1,25,4)]
Peridot=[i for i in range(2,25,4)]
Ruby=[i for i in range(3,25,4)]
Emerald=[i for i in range(4,25,4)]


roll=int(input())

a={"sapphire":Sapphire,"peridot":Peridot,"Ruby":Ruby,"Emerald":Emerald}

        
for i in a:
    if roll in a[i]:
        print(i)

 15

Ruby

In [ ]:
30. A data science company wants to hire data scientists from abc college. 
The company follows a certain criteria for selection: for a student to 
be selected, the number of backlogs should be at most 5 and the 
CGPA (Cumulative Grade Point Average) should be greater than 6. If 
the student does not fit the above criteria, then the student is not 
offered the job. If the student is selected, then the salary offered is 
equal to 5 times his/her CGPA (in lakhs).
Accept the number of backlogs (integer) and the CGPA (float) of the 
student as input. Your task is to determine if the student is selected or 
not. If the student is selected, then print the package. If not, then 
print the string Not Selected.

In [46]:
arear=int(input())
cgpa=float(input())

if arear<=5 and cgpa>6.00 and cgpa<=10.00:
    print(5*cgpa)
else:
    print("Not Selected")

 5
 10

50.0

In [ ]:
31. Accept a string as input and print PALINDROME if it is a 
palindrome, and NOT PALINDROME otherwise

In [48]:
string=input()

if string[::]==string[::-1]:
    print("Palindrome")
else:
    print("Not Palindrome")

 malayalam

Palindrome

In [ ]:
decorator that logs the date and time

In [70]:
import datetime
def func1(func):
    def func2():
        x=datetime.datetime.now()
        print(x)
        return func()
    return func2

In [73]:
@func1

def func3():
       return "developer"

In [74]:
func3()

2022-11-23 17:41:52.456250

'developer'

In [ ]:
38. Create an outer function that will accept two strings, x and y. (x= 'Emma' and y = 'Kelly'.
Create an inner function inside an outer function that will concatenate x and y.
At last, an outer function will join the word 'developer' to it.

In [85]:
def func4():
    x=input()
    y=input()
    def func5():
        return x+" "+y
    z=func5()+" "+"developer"
    return z

In [86]:
func4()

 emma
 kelly

'emma kelly developer'

In [ ]:
34.Program to Get Data Items From a List Appearing Odd Number of Times

In [1]:
l=["apple","mango","orange","guava","grape","pineapple"]

for i in range(len(l)):
    if i%2 !=0:
        print(l[i])

mango
guava
pineapple

In [ ]:
36. remove items from a list while iterating but without creating a different copy of a list.
Remove numbers greater than 50
number_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
Expected Output: [10, 20, 30, 40, 50]

In [5]:
number_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
xpected=list()
for i in number_list:
    if i<=50:
        xpected.append(i)
print(xpected)

[10, 20, 30, 40, 50]

In [ ]:
37.  Display all duplicate items from a list
sample_list = [10, 20, 60, 30, 20, 40, 30, 60, 70, 80]
Expected Output: [20, 60, 30]

In [11]:
sample_list = [10, 20, 60, 30, 20, 40, 30, 60, 70, 80]
a=list()
for i in sample_list:
    if sample_list.count(i)>=2:
        a.append(i)
print(list(set(a)))

[20, 60, 30]

In [ ]:
39. Modify the element of a nested list inside the following list
Change the element 35 to 3500
list1 = [5, [10, 15, [20, 25, [30, 35], 40], 45], 50]

In [18]:
list1 = [5, [10, 15, [20, 25, [30, 35], 40], 45], 50]

list1[1][2][2][1]=3500
print(list1)

[5, [10, 15, [20, 25, [30, 3500], 40], 45], 50]

In [ ]:
42. Print characters from a string that are present at an even index number
Write a program to accept a string from the user and display characters that are present at an even index number.

For example, str = "ineuron" so you should display ‘i’, ‘e’, ‘r’, ‘n’.

In [19]:
string = "ineuron"

for i in range(len(string)):
    if i % 2==0:
        print(string[i])

i
e
r
n

In [ ]:
44. Remove duplicates from a list and create a tuple and find the minimum and maximum number
sample_list = [87, 45, 41, 65, 94, 41, 99, 94]
Expected Outcome:
unique items [87, 45, 41, 65, 99]
tuple (87, 45, 41, 65, 99)
min: 41
max: 99

In [22]:
sample_list = [87, 45, 41, 65, 94, 41, 99, 94]

unique_items=list(set(sample_list))
a=tuple(unique_items)
tuple1=sorted(a)
minimum=tuple1[0]
maximum=tuple1[-1]

print(unique_items)
print(a)
print(minimum)
print(maximum)

[65, 99, 41, 45, 87, 94]
(65, 99, 41, 45, 87, 94)
41
99

In [ ]:
45. Write a Python program to create a lambda function that adds 15 to a given number passed in as an argument,
also create a lambda function
that multiplies argument x with argument y and print the result.

In [24]:
a=lambda x: x+15
b=lambda x,y: x*y

In [25]:
a(5)

20

In [26]:
b(10,20)

200

In [ ]:
46. Write a Python program to sort a list of tuples using Lambda.

In [27]:
c=lambda x: sorted(x)

In [35]:
b=[(13,3,5),(6,4,2),(7,1,3)]
b=c(b)
print(b)

[(6, 4, 2), (7, 1, 3), (13, 3, 5)]

In [ ]:
48. Write a Python program to count the even, odd numbers in a given array of integers using Lambda.

In [39]:
l=list(range(0,51))

count_even=0
count_odd=0

for i in range(0,51):
    if i %2==0:
        count_even=count_even+1
    else:
        count_odd=count_odd+1
        
print(count_even)
print(count_odd)

26
25

In [40]:
a=len(list(filter(lambda x: x%2==0,l)))
b=len(list(filter(lambda x: x%2!=0,l)))

print(a)
print(b)

26
25

In [ ]:
50.  Write a Python program to square the elements of a list using map() function.

In [44]:
list(map(lambda x:x **2,l))

[0,
 1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400,
 441,
 484,
 529,
 576,
 625,
 676,
 729,
 784,
 841,
 900,
 961,
 1024,
 1089,
 1156,
 1225,
 1296,
 1369,
 1444,
 1521,
 1600,
 1681,
 1764,
 1849,
 1936,
 2025,
 2116,
 2209,
 2304,
 2401,
 2500]

In [ ]:
41. Print the sum of the current number and the previous number
Write a program to iterate the first 10 numbers and in each iteration, print the sum of the current and previous number.
Printing current and previous number sum in a range(10)
Current Number 0 Previous Number  0  Sum:  0
Current Number 1 Previous Number  0  Sum:  1
Current Number 2 Previous Number  1  Sum:  3
Current Number 3 Previous Number  2  Sum:  5
Current Number 4 Previous Number  3  Sum:  7
Current Number 5 Previous Number  4  Sum:  9
Current Number 6 Previous Number  5  Sum:  11
Current Number 7 Previous Number  6  Sum:  13
Current Number 8 Previous Number  7  Sum:  15
Current Number 9 Previous Number  8  Sum:  17

In [20]:

a=0
for i in range(10):
    
    b=a+i
    print(f"current number {i} previous number{a} sum : {b}")
    a=i

current number 0 previous number0 sum : 0
current number 1 previous number0 sum : 1
current number 2 previous number1 sum : 3
current number 3 previous number2 sum : 5
current number 4 previous number3 sum : 7
current number 5 previous number4 sum : 9
current number 6 previous number5 sum : 11
current number 7 previous number6 sum : 13
current number 8 previous number7 sum : 15
current number 9 previous number8 sum : 17

In [ ]:
43. Print multiplication table form 1 to 10
1  2 3 4 5 6 7 8 9 10 		
2  4 6 8 10 12 14 16 18 20 		
3  6 9 12 15 18 21 24 27 30 		
4  8 12 16 20 24 28 32 36 40 		
5  10 15 20 25 30 35 40 45 50 		
6  12 18 24 30 36 42 48 54 60 		
7  14 21 28 35 42 49 56 63 70 		
8  16 24 32 40 48 56 64 72 80 		
9  18 27 36 45 54 63 72 81 90 		
10 20 30 40 50 60 70 80 90 100

In [24]:
for i in range(1,11):
    for j in range(1,11):
        print(i*j ,end=" ")
    print(" ")

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

In [ ]:
40.  Access the nested key increment from the following dictionary
Access 12
emp_dict = {
    "company": {
        "employee": {
            "name": "Jess",
            "payable": {
                "salary": 9000,
                "increment": 12
            }
        }
    }
}

In [25]:
emp_dict = {
    "company": {"employee": {"name": "Jess","payable": {"salary": 9000,"increment": 12
            }
        }
    }
}

In [39]:
emp_dict["company"]["employee"]["payable"]["increment"]

12

In [ ]:
32. In a portal login website, you are asked to write a function get_password_strength to decide 
the strength of a password. The strength is decided based on the total score of the password, Use 
following conditions:
1) If password has length greater than 7 then score increases by one point.
2) If password has at least one upper case and one lower case alphabets score increases by one point.
3) If password has at least one number and no consecutive numbers like 12 or 234 then score 
increases by one point.
4) If password has at least one special character (any character other than numbers and alphabets) then 
score increases by one point.
5) If password contains username, then it is invalid password.
If the password has score of four points, three points, two points, or one point then print Very 
Strong, Strong, Moderate, or Weak respectively. If the password is invalid, then 
print PASSWORD SHOULD NOT CONTAIN USERNAME and If the score is zero, then print Use a 
different password.The arguments to the function are username and password which are 
already defined

In [ ]:
password=input()
name=input()
score=0

if len(password)>7:
    score=score+1
for i in password:
    if i.isupper() or i.islower():
        score=score+1
count=0
for i in password:
    if i.isdigit() and int(i)*2 not in password:
        score=score+1
    if i.isalnum()==False:
        count=count+1
        if count>=1:
            score=score+1
if name in password:
    print("invalid password")
if score==4:
    print("Very Very Strong")
if score==

In [ ]:
a="123@s3h2a#"
b=sorted(a)
c=set(b)


for i in c:
    if i in "1234567890":
        print("True")
    else:
        print(False)